<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Server=localhost,1433;Database=MigratorTest;User Id=sa;Password=password1234!;TrustServerCertificate=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="MigrationFolder" value="C:\Path\To\Migration\Folder"/>
    <add key="VersionTable" value="SchemaMigration"/>
    <add key="SchemaFile" value="C:\Path\To\Schema.sql"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
